<div class="page-header">
        <h1>About</h1>
      </div>
      <p class="lead">DevLists was a small idea that I thought of on a Friday night.</p>
      <p>I was frustrated at work when I couldn't quickly find a resource for getting a list of zip codes for a web application I was writing. Then it occurred to me that there wasn't really a website out there that you could utilize to list out information, publicly, for development purposes. While there are wonderful solutions out there like <a href="//gist.github.com">Gist</a> and <a href="//ix.io">ix.io</a>, I just didn't feel like these were geared specifically towards my own needs.</p>
      <p>If you have any suggestions, don't hesitate to email me: <a href="mailto:zg@zk.gd">zg@zk.gd</a>.</p>
