<div class="page-header">
        <h1>Welcome to DevLists!</h1>
      </div>
      <p class="lead">DevLists is a centralized place to find lists for all your development needs. Some examples include <a href="/list/539354b10cda4cc93d8b456b">all the states in the U.S.</a>, <a href="/list/539355140cda4cc93d8b456c">all programming languages</a>, or simply <a href="/list/539355610cda4cc93d8b456d">all letters in the English alphabet</a>.</p>
      <p>You can create public lists for the <a href="/recent">world to see</a>, or private lists for just you and your friends.</p>
